#about {
  height: 100%;
  width: 100%;
  background: white;
}

.fixed-nav {
  position: fixed;
  top:0;
  z-index: 999;
}

.title-underline {
  height: 4px;
  width: 100px;
  background-color: black;
  margin: 10px auto 40px auto;
}

.fa-5x {
  font-size: 7rem;
}

.icon-tag {
  margin: 1rem auto 0.1rem auto;
  font-size: 1.4rem;
  font-weight: 700;
}

.icon-text {
  color: rgb(110, 110, 110);
  font-size: 1rem;
  font-weight: 500;
  width: 70%;
  margin: 0 auto;
}

/* Second row of about */

.final-about {
  margin: 8% auto;
}

.skills-section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon-text {
  color: rgb(110, 110, 110);
  font-size: 1rem;
  font-weight: 500;
  width: 90%;
  margin: 0 auto;
}

.svg {
  color: black;
  height: 80px;
}

.css-svg {
  height: 90px;
}

.ruby {
  height: 75px;
}
/* End of normal second row */

/* Start of experimental skills section */

button {
  border: none;
  margin: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  background: #000;
  font-size: 22px;
  color: white;
  padding: 15px 20px;
  margin-top: 30px;
  cursor: pointer;
}