html, body {
  font-family: 'Raleway', sans-serif!important;
}

h1 {
  padding: 0;
  margin: 0;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #000000;
  text-align: center;
}

canvas {
  width: 100%;
  height: 100%;
  min-height:100%;
}

/* Lets see */
.particles {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: #b61924; */
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.homepage {
  min-height: 100vh;
}

.home-text {
  position:  absolute;
  margin: 240px 26% 0 26%;
  min-width: 650px;
  z-index: -1;
  color: #fff;
}

.home-text h1 {
  margin-top: 5px;
  font-size: 3rem;
}

.homebutton {
  position:  absolute;
  margin: 400px 42.5% 0 42.5%;
  border: 2px solid white;
  font-size: 1.5rem;
  transition: all 0.2s;
  background: #1b1d25;
  min-width: 210px
}

.homebutton:hover {
  background: rgb(62, 147, 175);
  border: 2px solid rgb(62, 147, 175);
}
.homebutton a:hover {
  text-decoration: none;
}

.button-wrapper {
  padding: 6px 20px 12px 20px;
  color: #fff;
}

.span-text {
  color: #c51515;
}



