#projects {
  background: #f5f5f5f5;
  padding-bottom: 20vh;
}

.project-wrapper {
  background: grey;
  margin: 0.5%;
  height: 35vh;
  width: 10vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.project-wrapper p {
  margin: 0;
  padding: 0;
}

/* Inside project card */
.project-title {
  font-weight: 700;
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.project-text {
  font-size: 1rem;
  position: absolute;
  top: 12%;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.project-button {
  background: darkgrey;
  width: 40%;
  height: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.hover-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background: white;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

/* On project card hover */

.project-wrapper:hover .hover-wrapper {
  opacity: 0.85;
}

.project-wrapper:hover .project-title {
  opacity: 1;
  transform: translate(0px, 55px);
}

.project-wrapper:hover .project-text {
  opacity: 1;
  transform: translate(0px, 60px);
}

.project-wrapper:hover .project-button {
  opacity: 1;
  transform: translate(0px, -50px);
}

.project-wrapper:hover .project-button:hover {
  background: rgb(78, 185, 221);
  cursor: pointer;
  color: white;
}

/* End project card hover */


/* Done project card */